.footer{
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social li{
    margin: 0 1em;
}

.social li:hover{
    color: #FFBB33
}

.social svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #FFBB33;
}